<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="dots">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">⋮</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef><b>RowIndex</b></th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><b>Game Name</b></th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef><b>Game Creator</b></th>
    <td mat-cell *matCellDef="let element">{{ element | creator }}</td>
  </ng-container>

  <ng-container matColumnDef="videoLink">
    <th mat-header-cell *matHeaderCellDef><b>Vide Link</b></th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.videoLink">{{ element.name }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="publishDate">
    <th mat-header-cell *matHeaderCellDef><b>Date Created</b></th>
    <td mat-cell *matCellDef="let element">
      {{ element.publishDate | date : "EEEE M.Y h:mm" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef><b>Edit Game</b></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="onEdit(element)">Edit</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef><b>Delete Game</b></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="onDelete(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
