<app-close-button></app-close-button>
<div class="content">
  <form class="center-content" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="log-in-class">
      <h1>Log In</h1>
      <br />
      <div class="group">
        <input
          type="text"
          placeholder="Email"
          name="email"
          formControlName="email"
        />
        <p class="invalid" *ngIf="loginForm.controls.email.errors?.['email']">
          Email is required and must be in standard form
        </p>
      </div>
      <br /><br />
      <div class="group">
        <input
          type="password"
          placeholder="Password"
          name="password"
          formControlName="password"
        />
        <p
          class="invalid"
          *ngIf="loginForm.controls.password.errors?.['pattern']"
        >
          Password should not contain space
        </p>
      </div>
      <br />
      <p>
        Don't have an account?
        <a [routerLink]="['/registration']" class="register">Register</a>
      </p>

      <button type="submit" [disabled]="loginForm.invalid">LOGIN</button>
    </div>
  </form>
  <div class="img-content"></div>
</div>
