@import "../../../../../assets/styles/variables";

h1 {
  color: $h-color;
  font-size: 60px;
}

p {
  color: $h-color;
}

.register {
  background-color: transparent;
  color: $h-color;

  &:hover {
    color: $p2-color;
  }
}

.link-sign-up {
  text-decoration: none;
}

.center-content {
  top: 30%;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  input {
    width: 100%;
    height: 50px;
    background-color: $table-color;
    color: $header-color;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 2px;
  }

  h1 {
    text-align: center;
  }
}

button {
  width: 100%;
  height: 50px;
  background-color: $fire-gradient;
  color: $bg-color;
  border: none;
  border-radius: 5px;
  font-size: 20px;

  &:hover {
    background-color: $fire-gradient-hv;
    color: $bg-color;
    cursor: pointer;
  }
}

.log-in-class {
  text-align: center;
  margin: auto;
  position: absolute;
  width: 25%;
}

.group {
  display: flex;
  flex-direction: column;
}
