.wrapper {
  position: relative;
  margin: 8px;
  background: transparent;
  width: 320px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}

.main-content {
  padding: 10px;
  position: relative;

  button {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;

    &:hover {
      text-decoration: underline;
      background-color: rgb(217, 217, 217);
      border-radius: 5px;
    }
  }

  img {
    height: 200px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  .description {
    margin-top: 10px;
  }
}
.container {
  padding: 15px;
}

@media screen and (min-width: 1700px) {
  .wrapper {
    width: 80%;

    img {
      width: 100%;
      height: 240px;
    }
  }
}
