@import "../../../../../assets/styles/variables";

.footer {
  background-color: $header-color;
  display: grid;
  border-radius: 8px;

  p {
    margin: 0;
    font-size: 20px;
    color: $p2-color;
    text-align: center;
    padding: 15px;
  }
}
