@import "../../../../assets/styles/variables";

.center {
  position: relative;
  right: 50%;
  left: 50%;

  p {
    color: $link;
  }
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  margin: auto;
  stroke: #ff8000;
}
