/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables";

body {
  background-color: $bg-color;
}

.active {
  border-bottom: 4px solid #ff8000 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-style {
  background-color: $table-color;
  color: $header-color;

  button {
    color: $link;
    background-color: $header-color;

    &:hover {
      background-color: $fire-gradient-hv;
      color: $table-color;
    }
  }
}
