$bg-color: #272727;
$header-color: #0f0f0f;
$h-color: #fff;
$p-color: #b8b7b7;
$p2-color: #beb9b9;
$fire-gradient: linear-gradient(10deg, #ff8000, transparent) #ff4020;
$fire-gradient-hv: linear-gradient(13deg, #e77c12, transparent) #ed2f0e;
$link: #ff8000;
$link-hover: #a45505;
