<div class="dialog">
  <h2 mat-dialog-title>New Game</h2>
  <mat-dialog-content class="mat-typography">
    <form class="content" [formGroup]="createGameForm">
      <div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Game Name"
            name="name"
            formControlName="name"
            [ngClass]="{'invalid' : createGameForm.controls.name.errors?.['pattern']}"
          />
          <p *ngIf="createGameForm.controls.name.errors?.['pattern']">
            Game name is required and first letter must bi capital and length
            must be less than 50
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Youtube Link"
            name="videoLink"
            formControlName="videoLink"
            [ngClass]="{'invalid' : createGameForm.controls.videoLink.errors?.['pattern']}"
          />
          <p *ngIf="createGameForm.controls.videoLink.errors?.['pattern']">
            Youtube Link must be in the correct format
          </p>
        </div>
        <br />
        <div class="group">
          <textarea
            type="text"
            placeholder="Game Description"
            name="description"
            formControlName="description"
            [ngClass]="{'invalid' : createGameForm.controls.description.errors?.['pattern']}"
          >
          </textarea>
          <p *ngIf="createGameForm.controls.description.errors?.['pattern']">
            Description is required
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="number"
            placeholder="Game Price"
            name="price"
            formControlName="price"
            [ngClass]="{'invalid' : createGameForm.controls.price.errors?.['pattern']}"
          />
          <p *ngIf="createGameForm.controls.price.errors?.['pattern']">
            Price is required
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Creator First Name"
            name="creatorFirstName"
            formControlName="creatorFirstName"
            [ngClass]="{'invalid' : createGameForm.controls.creatorFirstName.errors?.['pattern']}"
          />
          <p
            *ngIf="createGameForm.controls.creatorFirstName.errors?.['pattern']"
          >
            Creator First Name is required and first letter must bi capital
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Creator Last Name"
            name="creatorLastName"
            formControlName="creatorLastName"
            [ngClass]="{'invalid' : createGameForm.controls.creatorLastName.errors?.['pattern']}"
          />
          <p
            *ngIf="createGameForm.controls.creatorLastName.errors?.['pattern']"
          >
            Creator Last Name is required and first letter must bi capital
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Game Image url"
            name="image"
            formControlName="image"
            [ngClass]="{'invalid' : createGameForm.controls.image.errors?.['pattern']}"
          />
          <p *ngIf="createGameForm.controls.image.errors?.['pattern']">
            Game image is required
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Game image wallpaper ulr"
            name="imageWallpaper"
            formControlName="imageWallpaper"
            [ngClass]="{'invalid' : createGameForm.controls.imageWallpaper.errors?.['pattern']}"
          />
          <p *ngIf="createGameForm.controls.name.errors?.['pattern']">
            Game image wallpaper is required
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="date"
            placeholder="Game publish date"
            name="publishDate"
            formControlName="publishDate"
            [ngClass]="{'invalid' : createGameForm.controls.publishDate.errors?.['pattern']}"
          />
          <p *ngIf="createGameForm.controls.publishDate.errors?.['pattern']">
            Game publish date is required
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Game specification"
            name="specification"
            formControlName="specification"
            [ngClass]="{'invalid' : createGameForm.controls.specification.errors?.['pattern']}"
          />
          <p *ngIf="createGameForm.controls.specification.errors?.['pattern']">
            Game specification is required
          </p>
        </div>
        <br />

        <div class="group">
          <select
            formControlName="platforms"
            [ngClass]="{'invalid' : createGameForm.controls.platforms.errors?.['required']}"
          >
            <option value="">Choose game platform</option>
            <option
              *ngFor="let platform of platforms"
              value="{{ platform.id }}"
            >
              {{ platform.name }}
            </option>
          </select>
          <p *ngIf="createGameForm.controls.platforms.errors?.['required']">
            Game platform is required
          </p>
        </div>
        <br />
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      mat-dialog-close
      [disabled]="createGameForm.invalid"
      (click)="createNewGame()"
    >
      Create new game
    </button>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
